@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
.btn, .btn-404, .btn-enviar, .btn-home {
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: #232625;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  color: #F2F2F2;
}
.btn:hover, .btn-404:hover, .btn-enviar:hover, .btn-home:hover {
  background-color: transparent;
  color: #232625;
  border: solid 1px #232625;
  transition: all 0.8s;
}

.header-img {
  animation-name: zoom-fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.header-frase {
  animation-name: entrada;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.productos-title {
  animation-name: zoom-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.container-items {
  animation-name: scaledown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.promos-title {
  animation-name: zoom-fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.promos-images {
  animation-name: scaledown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.info-promos {
  animation-name: scaledown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.faq-title {
  animation-name: zoom-fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.accordion {
  animation-name: scaledown;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.faq-parrafo {
  animation-name: zoom-fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.contacto-title {
  animation-name: zoom-fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.contacto-parrafo {
  animation-name: zoom-fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.div-container {
  animation-name: scaledown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
}

h1, h2, h3, p {
  color: #232625;
  font-weight: 700;
}

/* NAV */
.navbar {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.12rem;
  border-color: #232625;
  z-index: 2;
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
}

.links {
  color: #232625;
  font-size: 1.2rem;
  font-weight: 700;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-item {
  font-size: 1rem;
  color: #232625;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

.nav-item:focus:after,
.nav-item:hover:after {
  width: 100%;
  left: 0%;
}

.nav-item:after {
  content: "";
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #232625;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.links li a {
  transition: transform 0.3s ease-in-out;
}
.links li a:hover {
  transform: scale(1.1);
}

.logo-effect {
  transition: transform 0.3s ease-in-out;
}

.logo-effect:hover {
  transform: scale(1.3);
}

.navbar-toggler {
  border: none;
}

/* FOOTER */
footer {
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
  border-top-style: solid;
  border-top-width: 0.12rem;
  border-color: #232625;
  padding-top: 15px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-footer {
  display: flex;
  margin: 20px;
}

.icon-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-images li {
  list-style: none;
}
.icon-images a {
  color: #232625;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}
.icon-images a:hover {
  color: #A4A69C;
  transition: all 1s;
}

/* HEADER HOME*/
.container-header {
  position: relative;
  display: inline-block;
}

.header-frase {
  position: absolute;
  top: 30%;
  left: 4%;
  width: 310px;
  background-color: #F2F2F2;
  color: #232625;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 0 30px 10px #232625;
}
.header-frase h1 {
  font-size: 2.2rem;
}

.header-img {
  width: 100vw;
}

.btn-home {
  width: 270px;
}

.text-bienvenida {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 100px;
  padding: 40px 100px;
  border-radius: 5px;
  box-shadow: 30px 30px 30px 10px #232625;
}
.text-bienvenida:hover {
  transform: translate(40px);
  transition: all 2s;
  box-shadow: 0 0 30px 10px #232625;
}
.text-bienvenida h2 {
  font-size: 2.5rem;
  color: #232625;
  margin-bottom: 40px;
}
.text-bienvenida p {
  font-size: 1.2rem;
  color: #232625;
}

.text-item {
  margin-bottom: 20px;
}

/* MAIN HOME */
.dest-title {
  padding: 60px 0 20px 0;
  text-align: center;
  font-size: 2.2rem;
}

.carousel {
  width: 50vw;
  margin: 0 auto;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.carousel img {
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.redes-title {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 60px;
}

.redes-grandes {
  text-align: center;
  padding: 20px 0 60px 0;
}
.redes-grandes a {
  text-decoration: none;
}

.redes-img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  gap: 20px;
}
.redes-img:hover {
  transform: scale(0.9);
  transition: all 0.5s;
  box-shadow: 0 0 20px 5px #232625;
}

/* MAIN PRODUCTOS */
.productos-title {
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 10px;
  margin: 0 10px;
  margin-bottom: 60px;
}

.item {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.item:hover {
  transform: scale(1.03);
  transition: all 0.6s;
}

.info-productos {
  line-height: 40px;
  text-align: center;
}
.info-productos h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.img-productos {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.button {
  position: relative;
  width: 300px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #232625;
  background-color: #232625;
}

.button, .button-icon, .button-text {
  transition: all 0.3s;
}

.button .button-text {
  transform: translateX(80px);
  color: #fff;
  font-weight: 600;
}

.button .button-icon {
  position: absolute;
  height: 100%;
  background-color: #232625;
  display: flex;
  right: 0;
}

.button-icon {
  width: 50px;
  height: 40px;
  align-items: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
  margin: 0 auto;
}

.button:hover {
  background: #232625;
}

.button:hover .button-text {
  color: transparent;
}

.button:hover .button-icon {
  width: 290px;
  transform: translateX(0);
}

.button:active .button-icon {
  background-color: #232625;
}

/* MAIN PROMOS */
.promos-title {
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.promos-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 20px 0;
  object-fit: cover;
}

.image-size {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.info-promos {
  line-height: 40px;
  font-size: 1rem;
  text-align: center;
  padding-top: 40px;
}

/* FAQ MAIN */
.faq-title {
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
}

p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.accordion-item {
  border: none;
}
.accordion-item button {
  font-size: 1.2rem;
}

.accordion-button {
  color: #232625;
  text-transform: uppercase;
}

.accordion {
  background-color: white;
  margin: 60px;
}

.faq-parrafo {
  text-align: center;
  margin: 0 100px;
  margin-bottom: 40px;
}
.faq-parrafo p {
  font-size: 1.2rem;
}

/* CONTACTO MAIN */
.contacto-title {
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 2.4rem;
}

.contacto-parrafo {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.div-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 40px 25%;
  border-radius: 10px;
  padding: 60px 40px 60px 40px;
  display: flex;
  justify-content: center;
}

.div-son {
  margin: 0 40px;
}

.input-container {
  padding: 20px 0 20px 0;
}

.btn-enviar {
  width: 250px;
}

.textarea-desing {
  margin-top: 20px;
  width: 250px;
  height: 219px;
}

.input-design {
  background: transparent;
  border: none;
  border-bottom: 2px solid;
  padding: 10px;
  font-weight: 700;
  resize: none;
  outline: none;
}

@keyframes zoom-fade {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes entrada {
  0% {
    top: 60%;
    left: 4%;
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 4%;
    opacity: 1;
  }
}
@keyframes zoom-fade {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaledown {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.container-img-error404 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.img-error404 {
  width: 500px;
  height: 300px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.text-error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}
.text-error404 h1 {
  font-size: 3rem;
}
.text-error404 p {
  font-size: 1.2rem;
  padding: 0 100px;
  width: 70vw;
  text-align: center;
}

.btn-404 {
  margin-top: 60px;
}

/* inicia responsive */
/* pequeño arreglo */
@media (width < 1211px) {
  .redes-img {
    width: 300px;
    height: 500px;
  }
  .container-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* 1er breakpoint */
@media (width < 1024px) {
  /* header home*/
  .frase {
    font-size: 1rem;
  }
  .header-img {
    object-fit: cover;
    overflow: hidden;
  }
  /* productos page */
  .container-items {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .info-productos h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .info-productos a {
    font-size: 1.2rem;
  }
  .img-productos {
    margin-bottom: 20px;
  }
  .faq-parrafo p {
    font-size: 1rem;
  }
  /* contacto page */
  .div-container {
    width: 600px;
  }
  .textarea-desing {
    height: 220px;
  }
}
/* 2do breakpoint */
@media (width < 768px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  ul {
    padding-left: 0;
  }
  .navbar-toggler {
    color: #232625;
  }
  /* redes home */
  .redes-img {
    width: 200px;
    height: 400px;
  }
  /* promos main */
  .image-size {
    width: 400px;
    height: 400px;
  }
  .info-promos h2 {
    font-size: 1.4rem;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.8rem;
  }
  .contacto-parrafo {
    padding: 0 15px 0 15px;
  }
  .div-container {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
/* 3er breakpoint */
@media (width < 600px) {
  ul {
    padding-left: 0;
  }
  .text-bienvenida {
    display: none;
  }
  /* destacados home */
  .dest-title {
    font-size: 1.8rem;
  }
  .footer-info {
    font-size: sm;
    text-align: center;
  }
  /* header home */
  .frase h1 {
    font-size: 1rem;
  }
  /* redes home */
  .redes-title {
    font-size: 1.8rem;
  }
  .redes-img {
    width: 150px;
  }
  /* productos main */
  .container-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    width: 250px;
  }
  .img-productos {
    width: 150px;
  }
  .button {
    width: 200px;
    margin: 0 auto;
  }
  .button:hover .button-icon {
    width: 190px;
  }
  .button .button-text {
    transform: none;
    width: 150px;
    font-size: 0.8rem;
  }
  .info-productos h2 {
    font-size: 1rem;
  }
  .info-productos a {
    font-size: 1rem;
  }
  /* promos main */
  .info-promos h2 {
    font-size: 1.4rem;
  }
  .image-size {
    width: 400px;
    height: 400px;
  }
  .accordion-item button {
    font-size: 0.8rem;
  }
  .accordion-body p {
    font-size: 0.7rem;
  }
  /* contacto main */
  .contacto-parrafo {
    font-size: 1rem;
    padding: 0 40px;
  }
  .div-container {
    width: 500px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .div-son {
    margin: 20px;
  }
  .textarea-desing {
    width: 150px;
  }
  .input-design {
    width: 200px;
    padding: 10px;
  }
  .btn-enviar {
    width: 200px;
  }
}
/* 4to breakpoint */
@media (width < 480px) {
  /* destacados home */
  .dest-title {
    font-size: 1.2rem;
  }
  .redes-title {
    font-size: 1.2rem;
  }
  /* footer */
  .footer-info h3 {
    font-size: 1.2rem;
  }
  .footer-info p {
    font-size: 0.8rem;
    text-align: center;
  }
  /* productos main */
  .container-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-productos {
    width: 200px;
  }
  .item {
    padding: 20px;
  }
  /* promos main */
  .promos-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .info-promos h2 {
    font-size: 1.2rem;
  }
  .image-size {
    width: 300px;
    height: 300px;
  }
  .promos-images {
    padding-bottom: 40px;
  }
  .faq-parrafo {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .faq-parrafo p {
    font-size: 0.8rem;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.8rem;
  }
  .contacto-parrafo {
    font-size: 0.8rem;
    padding: 0 100px;
  }
  .div-container {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .input-design {
    font-size: 0.8rem;
    width: 150px;
  }
  .btn-enviar {
    width: 150px;
  }
}
@media (width < 320px) {
  .nav-link {
    font-size: 0.7rem;
  }
  /* header main */
  .header-frase {
    width: 200px;
  }
  .header-frase h1 {
    font-size: 1rem;
  }
  .btn-home {
    width: 150px;
    font-size: 0.7rem;
  }
  /* redes main */
  .redes-img {
    width: 90px;
  }
  .accordion {
    width: 300px;
    margin: 10px;
  }
  .faq-parrafo {
    width: 200px;
  }
  .faq-parrafo p {
    font-size: 0.7rem;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.4rem;
  }
  .contacto-parrafo {
    padding: 0 40px;
  }
  .div-container {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
  }
  .input-design {
    font-size: 0.7rem;
    width: 100px;
    padding: 0;
  }
  .textarea-desing {
    height: 152px;
  }
  .btn-enviar {
    width: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
