@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  height: 100vh;
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
}

h1, h2, h3, p {
  color: #232625;
  font-weight: 700;
}

a {
  color: #232625;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #A4A69C;
}

/* NAV */
.navbar {
  width: 100%;
  height: auto;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.12rem;
  border-color: #232625;
  z-index: 2;
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
}

.links {
  color: #232625;
  font-size: 1.2rem;
  font-weight: 700;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-item {
  font-size: 1rem;
  color: #232625;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

.nav-item:focus:after,
.nav-item:hover:after {
  width: 100%;
  left: 0%;
}

.nav-item:after {
  content: "";
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #232625;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.links li a {
  transition: transform 0.3s ease-in-out;
}
.links li a:hover {
  transform: scale(1.1);
}

.logo-effect {
  transition: transform 0.3s ease-in-out;
}

.logo-effect:hover {
  transform: scale(1.3);
}

.navbar-toggler {
  border: none;
}

/* FOOTER */
footer {
  background: rgb(222, 224, 211);
  background: linear-gradient(90deg, rgb(222, 224, 211) 0%, rgb(242, 242, 242) 100%);
  border-top-style: solid;
  border-top-width: 0.12rem;
  border-color: #232625;
  padding-top: 15px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-footer {
  display: flex;
  margin: 20px;
}

.icon-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-images li {
  list-style: none;
}

/* HEADER HOME*/
.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frase {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* MAIN HOME */
.dest-title {
  padding: 60px 0 20px 0;
  text-align: center;
  font-size: 2.2rem;
}

.carousel {
  width: 50vw;
  margin: 0 auto;
}

.carousel img {
  border-radius: 10px;
  object-fit: cover;
}

.redes-title {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 60px;
}

.redes-grandes {
  text-align: center;
  padding: 20px 0 60px 0;
}

.redes-img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  gap: 20px;
}

/* MAIN PRODUCTOS */
.productos-title {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 10px;
  margin: 0 10px;
  margin-bottom: 60px;
}

.item {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.info-productos {
  line-height: 40px;
  text-align: center;
}
.info-productos h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.img-productos {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.button {
  position: relative;
  width: 300px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #232625;
  background-color: #232625;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(80px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  height: 100%;
  background-color: #232625;
  display: flex;
  right: 0;
}

.button__icon {
  width: 50px;
  height: 40px;
  align-items: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
  margin: 0 auto;
}

.button:hover {
  background: #232625;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 290px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #232625;
}

/* MAIN PROMOS */
.promos-title {
  text-align: center;
  padding: 10px 0 10px 0;
}

.promos-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 20px 0;
  object-fit: cover;
}

.image-size {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.info-promos {
  line-height: 40px;
  font-size: 1rem;
  text-align: center;
  padding-top: 40px;
}

/* FAQ MAIN */
.faq-title {
  text-align: center;
  padding: 10px 0 40px 0;
}

p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.accordion-item {
  border: none;
}

.accordion-button {
  color: #232625;
}

.accordiom {
  background-color: white;
}

/* CONTACTO MAIN */
.contacto-title {
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 2.4rem;
}

.contacto-parrafo {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.div-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 40px 25%;
  border-radius: 10px;
  padding: 60px 40px 60px 40px;
  display: flex;
  justify-content: center;
}

.div-son {
  margin: 0 40px;
}

.input-container {
  padding: 20px 0 20px 0;
}

.input-textarea {
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.input-area-container {
  margin-top: 15px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.textarea-desing {
  margin-top: 20px;
  width: 250px;
  height: 198px;
}

.input-design {
  background: transparent;
  border: none;
  border-bottom: 2px solid;
  padding: 10px;
  font-weight: 700;
  resize: none;
  outline: none;
}

.container-img-error404 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.img-error404 {
  width: 500px;
  height: 300px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.text-error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}
.text-error404 h1 {
  font-size: 3rem;
}
.text-error404 p {
  font-size: 1.2rem;
  padding: 0 100px;
  width: 70vw;
  text-align: center;
}

.btn-inicio {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #232625;
  padding: 10px;
  border-radius: 10px;
  margin-top: 60px;
}
.btn-inicio a {
  color: #F2F2F2;
}

/* inicia responsive */
/* pequeño arreglo */
@media (width < 1211px) {
  .redes-img {
    width: 300px;
    height: 500px;
  }
}
/* 1er breakpoint */
@media (width < 1024px) {
  /* header home*/
  .frase {
    font-size: 1rem;
  }
  /* productos page */
  .container-items {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .info-productos h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .info-productos a {
    font-size: 1.2rem;
  }
  .img-productos {
    margin-bottom: 20px;
  }
  /* contacto page */
  .div-container {
    width: 600px;
  }
  .textarea-desing {
    height: 220px;
  }
}
/* 2do breakpoint */
@media (width < 768px) {
  /* destacados home */
  .info-productos h2 {
    font-size: 1.2rem;
  }
  .info-productos a {
    font-size: 1rem;
  }
  /* redes home */
  .redes-img {
    width: 200px;
    height: 400px;
  }
  /* promos main */
  .image-size {
    width: 400px;
    height: 500px;
  }
  .info-promos h2 {
    font-size: 1.8rem;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.8rem;
  }
  .contacto-parrafo {
    padding: 0 15px 0 15px;
  }
  .div-container {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
/* 3er breakpoint */
@media (width < 600px) {
  /* header home */
  .frase h1 {
    font-size: 1rem;
  }
  /* redes home */
  .redes-img {
    width: 150px;
  }
  /* productos main */
  .container-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-productos {
    width: 200px;
  }
  .info-productos h2 {
    font-size: 1rem;
  }
  .info-productos a {
    font-size: 1rem;
  }
  /* promos main */
  .info-promos h2 {
    font-size: 1.4rem;
  }
  .image-size {
    width: 400px;
    height: 400px;
  }
  /* contacto main */
  .contacto-parrafo {
    font-size: 1rem;
    padding: 0 40px;
  }
  .div-container {
    width: 500px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .div-son {
    margin: 20px;
  }
  .input-area-container {
    width: 80px;
  }
  .textarea-desing {
    width: 150px;
  }
  .input-design {
    width: 200px;
    padding: 10px;
  }
}
/* 4to breakpoint */
@media (width < 480px) {
  /* destacados home */
  .dest-title {
    font-size: 1.2rem;
  }
  .redes-title {
    font-size: 1.2rem;
  }
  /* footer */
  .footer-info h3 {
    font-size: 1.2rem;
  }
  .footer-info p {
    font-size: 0.8rem;
    text-align: center;
  }
  /* productos main */
  .container-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-productos {
    width: 250px;
  }
  .item {
    padding: 20px;
  }
  /* promos main */
  .promos-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .info-promos h2 {
    font-size: 1.2rem;
  }
  .image-size {
    width: 300px;
    height: 300px;
  }
  .promos-images {
    padding-bottom: 40px;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.8rem;
  }
  .contacto-parrafo {
    font-size: 0.8rem;
    padding: 0 100px;
  }
  .div-container {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .input-design {
    font-size: 0.8rem;
    width: 150px;
  }
}
@media (width < 320px) {
  /* header main */
  .frase h1 {
    font-size: 0.7rem;
  }
  /* redes main */
  .redes-img {
    width: 90px;
  }
  /* contacto main */
  .contacto-title {
    font-size: 1.4rem;
  }
  .contacto-parrafo {
    padding: 0 40px;
  }
  .div-container {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
  }
  .input-design {
    font-size: 0.7rem;
    width: 100px;
    padding: 0;
  }
  .textarea-desing {
    height: 152px;
  }
}

/*# sourceMappingURL=main.css.map */
