// generales
* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(222,224,211);
    background: linear-gradient(90deg, rgba(222,224,211,1) 0%, rgba(242,242,242,1) 100%);
}

h1, h2, h3, p {
    color: $secondary-color;
    font-weight: $text-bold;
}


/* NAV */

.navbar {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style:solid;
    border-bottom-width: 0.12rem;
    border-color: $secondary-color;
    z-index: 2;
    background: rgb(222,224,211);
    background: linear-gradient(90deg, rgba(222,224,211,1) 0%, rgba(242,242,242,1) 100%);
}

.links {
    color: $secondary-color;
    font-size: $text-lg;
    font-weight: $text-bold;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item {
    font-size: $text-md;
    color: $secondary-color;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
  }
 
  .nav-item:focus:after,
  .nav-item:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .nav-item:after {
    content: "";
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: $secondary-color;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

.links {
    li {
        a {
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        } 
    }      
}

.logo-effect {
    transition: transform 0.3s ease-in-out;
}
  
.logo-effect:hover {
    transform: scale(1.3);
}

.navbar-toggler {
    border: none;
}


/* FOOTER */

footer {
    // background-color: $main-color;
    background: rgb(222,224,211);
    background: linear-gradient(90deg, rgba(222,224,211,1) 0%, rgba(242,242,242,1) 100%);
    border-top-style: solid;
    border-top-width: 0.12rem;
    border-color: $secondary-color;
    padding-top: $spacing-2;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-footer {
    display: flex;
    margin: $spacing-3;
}

.icon-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-images{ 
    li{
        list-style: none;
    }
    a {
        color: $secondary-color;
        font-size: $text-lg;
        font-weight: $text-bold;
        text-decoration: none;
        &:hover {
            color: $third-color;
            transition: all 1s;
        }
    }
} 
