/* FAQ MAIN */

.faq-title{
    text-align: center;
    padding-top: $spacing-1;
    margin-top: $spacing-2;
    margin-bottom: $spacing-4;
}

p{
    margin: 0;
    font-size: $text-md;
    font-weight: $text-semibold;
}

.accordion-item{
    border: none;
    button {
        font-size: $text-lg;
    }
}

.accordion-button{
    color: $secondary-color;
    text-transform: uppercase;
}

.accordion{
    background-color: white;
    margin: $spacing-5;
}

.faq-parrafo {
    text-align: center;
    margin: 0 $spacing-6;
    margin-bottom: $spacing-4;
    p {
      font-size: $text-lg;
    }
}