/* HEADER HOME*/

.container-header {
    position: relative;
    display: inline-block;
}

.header-frase {
  position: absolute;
  top: 30%;
  left: 4%;
  width: 310px;
  background-color: $main-color;
  color: $secondary-color;
  padding: $spacing-3;
  border-radius: $br-1;
  z-index: 2;
  box-shadow: 0 0 30px 10px $secondary-color;
  h1 {
    font-size: $text-3xl;
  }
}

.header-img {
    width: 100vw;
    img {
        width: 100vw;
    }
}

.btn-home {
    @extend .btn;
    width: 270px;
}

.text-bienvenida {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: $spacing-6;
    padding: $spacing-4 $spacing-6;
    border-radius: $br-1;
    box-shadow: 30px 30px 30px 10px $secondary-color;
    &:hover {
        transform: translate(40px);
        transition: all 2s;
        box-shadow: 0 0 30px 10px $secondary-color;
    }
    h2 {
        font-size: 2.5rem;
        color: $secondary-color;
        margin-bottom: $spacing-4;
    }
    p {
        font-size: $text-lg;
        color: $secondary-color;
    }
}

.text-item {
    margin-bottom: $spacing-3;
}

/* MAIN HOME */

.dest-title {
    padding: $spacing-5 0 $spacing-3 0;
    text-align: center;
    font-size: $text-3xl;
}

.carousel {
    width: 50vw;
    margin: 0 auto;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.carousel {
    img{
        border-radius: $br-2;
        object-fit: cover;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
} 

.redes-title {
    font-size: $text-3xl;
    text-align: center;
    padding-top: $spacing-5;
}

.redes-grandes {
    text-align: center;
    padding: $spacing-3 0 $spacing-5 0;
    a {
        text-decoration: none;
    }
}

.redes-img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: $br-2;
    gap: 20px;
    &:hover {
        transform: scale(0.9);
        transition: all 0.5s;
        box-shadow: 0 0 20px 5px $secondary-color;
    }
}