/* HEADER HOME*/

.header-img {
    display:flex;
    align-items: center;
    justify-content: center;
}

.frase {
    display:flex;
    justify-content: center;
    font-weight: $text-bold;
    font-size: $text-md;
    padding-top: $spacing-6;
    padding-bottom: $spacing-3;
    margin: 0 auto;
}

/* MAIN HOME */

.dest-title {
    padding: $spacing-5 0 $spacing-3 0;
    text-align: center;
    font-size: $text-3xl;
}

.carousel {
    width: 50vw;
    margin: 0 auto;
}

.carousel {
    img{
        border-radius: $br-2;
        object-fit: cover;
    }
} 

.redes-title {
    font-size: $text-3xl;
    text-align: center;
    padding-top: $spacing-5;
}

.redes-grandes {
    text-align: center;
    padding: $spacing-3 0 $spacing-5 0;
}

.redes-img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: $br-2;
    gap: 20px;
}