/* inicia responsive */

/* pequeño arreglo */

@media (width < 1211px){
    .redes-img {
        width: 300px;
        height: 500px;
    }

    .container-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1er breakpoint */
@media (width < 1024px){
    
    /* header home*/

    .frase {
        font-size: $text-md;
    }

    .header-img {
        object-fit: cover;
        overflow: hidden;
    }


    /* productos page */
    
    .container-items {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .info-productos { 
        h2 {
            font-size: $text-xl;
            text-align: center;
        }
    } 
    
    .info-productos {
        a {
            font-size: $text-lg;
        }
    } 
    
    .img-productos {
        margin-bottom: $spacing-3;
    }

    // faq
    .faq-parrafo {
        p {
        font-size: $text-md;
        }
    }

    /* contacto page */
    .div-container {
        width: 600px;
    }

    .textarea-desing {
        height: 220px;
    }

    // pagina error 404
    .text-error404 {
        h1 {
            font-size: $text-3xl;
        }
        p {
            font-size: $text-md;
        }
    }

    .btn-404 {
        margin-top: $spacing-4;
    }

}


/* 2do breakpoint */
 
@media (width < 768px){
    
    // nav
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 100vw;
    }

    ul{
        padding-left: 0;
    }

    .links {
        gap: 1.4rem;
        display: block;
        li {
            margin: $spacing-1;
        }
    }

    .navbar-toggler{
        color: $secondary-color;
    }


    /* redes home */

    .redes-img {
        width: 200px;
        height: 400px;
    }

    /* promos main */
    .image-size {
        width: 400px;
        height: 400px;
    }

    .info-promos { 
        h2 {
            font-size: $text-xl;
        }
    }   
    
    /* contacto main */
    .contacto-title {
        font-size: $text-xxl;
    }

    .contacto-parrafo {
        padding: 0 $spacing-2 0 $spacing-2;
    }

    .div-container {
        margin: 0 auto;
        margin-bottom: $spacing-5;
    }

    // pagina error 404
    .text-error404 {
        p {
            padding: 0 $spacing-3;
        }
    }
    
    .btn-404 {
        margin-top: $spacing-3;
    }
}
/* 3er breakpoint */

@media (width < 600px) {
    
    // nav
    ul{
        padding-left: 0;
    }

    // header
    .header-frase {
        width: 200px;
        h1 {
            font-size: $text-lg;

        }
    }

    .btn-home {
        width: 160px;
        font-size: $text-sm;

    }


    // texto bienvenida home
    .text-bienvenida {
        display: none;
    }


    /* destacados home */
    .dest-title {
        font-size: $text-xxl;
    }

    // footer
    .footer-info {
        font-size: sm;
        text-align: center;
    }

    /* header home */
    
    .frase { 
        h1 {
            font-size: $text-md;
        }
    } 


    /* redes home */
    .redes-title {
        font-size: $text-xxl; 
    }

    .redes-img {
        width: 150px;
    }

    /* productos main */
    .container-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        width: 250px;
    }

    .img-productos {
        width: 150px;
    }

    .button {
        width: 200px;
        margin: 0 auto;
    }

    .button:hover .button-icon {
        width: 190px;
    }
   
    .button .button-text {
        transform: none;
        width: 150px;
        font-size: $text-sm;
    }


    .info-productos { 
        h2 {
            font-size: $text-md;
        }
    } 
    .info-productos {  
        a {
            font-size: $text-md;
        }
    } 
    /* promos main */
    .info-promos {
        h2 {
            font-size: $text-xl;
        }
    }    

    .image-size {
        width: 400px;
        height: 400px;
    }

    // faq
    .accordion-item {
        button{
            font-size: $text-sm;
        }
    }

    .accordion-body {
        p {
            font-size: $text-xs;
        }
    }

    /* contacto main */
    .contacto-parrafo {
        font-size: $text-md;
        padding: 0 $spacing-4;
    }

    .div-container {
        width: 500px; 
        padding: $spacing-3 $spacing-3;
        margin: 0 auto;
        margin-bottom: $spacing-5;
    }

    .div-son {
        margin: $spacing-3;
    }

    .textarea-desing {
        width: 150px;
    }

    .input-design {
        width: 200px;
        padding: $spacing-1;
    }

    .btn-enviar {
        width: 200px;
    }

    // pagina error 404
    
    .text-error404 {
        h1 {
            font-size: $text-xl;
        }
        p {
            padding: 0 $spacing-1;
            width: 80vw;
        }
    }
    
    .btn-404 {
        margin-top: $spacing-3;
    }
}
    
/* 4to breakpoint */

@media (width < 480px){
    // nav
    .links {
        a {
            font-size: $text-sm;
        }
    }
    
    
    // header
    .header-frase {
        width: 180px;
        padding: $spacing-1;
        h1 {
            font-size: $text-sm;
            text-align: center;
        }
    }

    .btn-home {
        width: 140px;
        font-size: $text-xs;
        margin: 0 auto;
    }


    /* destacados home */
    .dest-title {
        font-size: $text-lg;
    }

    .redes-title {
        font-size: $text-lg;
    }

    .redes-img {
        width: 125px;
    }

    .redes-grandes {
        display: flex;
        justify-content: center;
        gap: 10px;
    }


    /* footer */
    .footer-info {
        h3 {
            font-size: $text-lg;
        }
    }
    
    .footer-info {
        p {
            font-size: $text-sm;
            text-align: center;
        } 
    }

    /* productos main */
    .container-items {
        grid-template-columns: repeat(1, 1fr);

    }

    .img-productos {
        width: 200px;
    }

    .item {
        padding: $spacing-3;
    }

    /* promos main */
    .promos-title {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .info-promos {
        h2 {
            font-size: $text-lg;
        }
    }
    .image-size {
        width: 300px;
        height: 300px;
    }

    .promos-images {
        padding-bottom: $spacing-4;
    }

    // faq
    .faq-parrafo{
        width: 400px;
        margin: 0 auto;
        margin-bottom: $spacing-3;
        p{
        font-size: $text-sm;
        }
    }

    /* contacto main */
    .contacto-title {
        font-size: $text-xxl;
    }

    .contacto-parrafo {
        font-size: $text-sm;
        padding: 0 $spacing-6;
    }
   
    .div-container {
        width: 400px;
        margin: 0 auto;
        margin-bottom: $spacing-5;
    }

    .input-design {
        font-size: $text-sm;
        width: 150px;
    }

    .btn-enviar {
        width: 150px;
    }
}

@media (width < 465px){
    // ajuste parrafo faq
    
    .faq-parrafo {
        width: 240px;
        p {
            font-size: $text-xs;
        }
    }

}

@media (width < 340px){
    // ajuste imagenes redes home page
    .redes-img {
        width: 100px;
    }

    .redes-grandes {
        gap: 5px;
    }

    
    // ajuste parrafo faq
    
    .faq-parrafo {
        width: 190px;
        p {
            font-size: $text-xs;
        }
    }
}

@media (width < 320px){
    
    // nav
    .nav-link {
        font-size: $text-xs;
    }
    
    /* header main */
    .header-frase {
        width: 120px;
        h1{
            font-size: $text-xs;
        }
    }

    .btn-home {
        width: 100px;
        font-size: $text-xs;
        text-align: center; 
    }

    /* redes main */
    .redes-img {
        width: 90px;
    }

    // faq
    .accordion {
        width: 300px;
        margin: $spacing-1;
    }

    .faq-parrafo {
        width: 200px;
        p {
            font-size: $text-xs;
        }
    }

    /* contacto main */
    .contacto-title {
        font-size: $text-xl;
    }

    .contacto-parrafo {
        padding: 0 $spacing-4;
    }

    .div-container {
        width: 300px;
        margin: 0 auto;
        margin-bottom: $spacing-5;
        margin-top: $spacing-1;
    }

    .input-design {
        font-size: $text-xs;
        width: 100px;
        padding: 0;
    }

    .textarea-desing {
        height: 152px;
    }

    .btn-enviar {
        width: 100px;
    }

    // pagina error 404
    .img-error404{
        width: 400px;
        height: 200px;
    }
    
    .text-error404 {
        h1 {
            text-align: center;
        }
        p {
            width: 90vw;
        }
    }
}