/* MAIN PRODUCTOS */

.productos-title {
    text-align: center;
    padding-top: $spacing-1;
    margin-bottom: $spacing-4;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: $spacing-5;
    column-gap: $spacing-1;
    margin: 0 $spacing-1;
    margin-bottom: $spacing-5;
}

.item {
    margin: 0 auto;
    background-color: #fff;
    padding: $spacing-1;
    border-radius: $spacing-1;
}

.info-productos {
    line-height: 40px;
    text-align: center;
    h2 {
        font-size: $text-xl;
        margin-bottom: 0;
    }
}

.img-productos {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: $br-2;
}

  .button {
    position: relative;
    width: 300px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(80px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    height: 100%;
    background-color: $secondary-color;
    display: flex;
    right: 0;
  }

  .button__icon {
    width: 50px;
    height: 40px;
    align-items: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
    margin: 0 auto;
  }
  
  .button:hover {
    background: $secondary-color;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 290px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: $secondary-color;
  }
  
  
  