// variables globales

// colors
$main-color: #F2F2F2;
$secondary-color: #232625;
$third-color: #A4A69C;

// sizing
$text-xs: 0.7rem;
$text-sm: 0.8rem;
$text-md: 1rem;
$text-lg: 1.2rem;
$text-xl: 1.4rem;
$text-xxl: 1.8rem;
$text-3xl: 2.2rem;
$text-4xl: 2.4rem;

// weights
$text-bold: 700;
$text-semibold: 600;
$text-light: 300;

// padding y margin

$spacing-1: 10px;
$spacing-2: 15px;
$spacing-3: 20px;
$spacing-4: 40px;
$spacing-5: 60px;
$spacing-6: 100px;

// border radius
$br-1: 5px;
$br-2: 10px;
